*.exe
*.db-shm
*.db-wal
*.opendb
*.tlog
*.obj

ComTVClient/.vs/ComTVClient/v16/Browse.VC.db
ComTVClient/.vs/ComTVClient/v16/Solution.VC.db
ComTVServer/.vs/ComTVServer/v16/Browse.VC.db
ComTVServer/.vs/ComTVServer/v16/Solution.VC.db
ComTVClient/.vs/ComTVClient/v16/.suo
ComTVServer/.vs/ComTVServer/v16/.suo

ComTVServer/obj/Win32/
ComTVClient/obj/Win32/

ComTVServer/.vs/ComTVServer/v16/ipch/
ComTVServer/bin/ComTVServer_debug.exp
ComTVServer/bin/ComTVServer_debug.lib
ComTVServer/bin/ComTVServer_debug.pdb

ComTVClient/.vs/ComTVClient/v16/ipch/
ComTVClient/bin/ComTVClient_debug.exp
ComTVClient/bin/ComTVClient_debug.lib
ComTVClient/bin/ComTVClient_debug.pdb
ComTVClient/bin/data/
*.obj
